


<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<header id="home"class="section">
	<div class="header_main">
         <!-- header inner -->
         <app-header></app-header>
    
         <!-- end header inner -->
      
      	<div class="bannen_inner">
            <div class="container">
                <div class="row marginii">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    	<div class="taital_main">
                    		
                    	</div>
                        <h1 class="web_text"><strong>Unlimited Goal</strong></h1>
                        <p class="donec_text">Many people are don't have privilege to access books. Not everyone has access to every kind
                            of books available all over the globe. By using “ShareCare bookstore” we can reuse the old books
                            which indeed will create path for recycling. This will save many lives of trees.</p>
                         <a class="get_bg" href="login" role="button">Get Started</a>
                         <a class="btn btn-lg btn-dark " href="about.html" role="button"style="font-family: 'Fraunces', serif">Contact Us</a>
                    </div>
                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                     <div class="img-box">
                        <figure>
                           <img src="assets/images/pic13.jpg" style="border-radius: 25px;height:500px;width: 100%;opacity: 1; box-shadow: 4px 4px 16px 4px rgba(253, 253, 253, 0.945), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" /></figure>
                     </div>
                </div>
           </div>
         
     </div>
    </div>
</div>
    
</header>
    <!-- banner end -->
    <!-- choose start -->
    <div id="about" class="choose_section">
    	<div class="container">
    		<div class="col-sm-12">
    			<h1 class="choose_text">Why you should <span class="color">choose us</span></h1>
    			<p class="lorem_text">This will help the users to read different books of their choice and to help people and to spread the knowledge among them</p>
    		</div>
    	</div>
    </div>
    <div class="choose_section_2">
    	<div class="container">
    	    <div class="row">
    		    <div class="col-sm-4">
    			    <div class="power_full">
    				    <div class="icon"><a href="#"><img src="assets/images/power-full-icon.png"></a></div>
    				    <h2 class="powerful_text">Powerful Features</h2>
    				    <p class="making_tetx"> Will allow users to access different books and read them and can share them
                            globally at free of cost.user will able to read the book of his choice</p>
    			    </div>
    			    <div class="btn_main">
    			        <button type="button" class="read_bt"><a href="#">Read More</a></button>
    			    </div>
    		    </div>
    		    <div class="col-sm-4">
    			    <div class="power">
    				    <div class="icon"><a href="#"><img src="assets/images/optimised-icon.png"></a></div>
    				    <h2 class="totaly_text">Totaly Optimised</h2>
    				    <p class="making">User can make most of this site in reading and showing there creativity using artistic block and also they can read blogs created by another user</p>
    			    </div>
    			    <div class="btn_main">
    			        <button type="button" class="read_bt"><a href="#">Read More</a></button>
    			    </div>
    		    </div>
    		    <div class="col-sm-4">
    			    <div class="power">
    				    <div class="icon"><a href="#"><img src="assets/images/headfone-icon.png"></a></div>
    				    <h2 class="totaly_text">Worldwide Support</h2>
    				    <p class="making">As we are accessing the books globally.The user can upload there books from anywhere and can order from anywhere.our site creating good support for many of the user.</p>
    			    </div>
    			    <div class="btn_main">
    			        <button type="button" role="button"  class="read_bt"><a href="#">Read More</a></button>
    			    </div>
    		    </div>
    	    </div>    		
    	</div>
    </div>
    <!-- choose start -->
    <!-- about start -->
    <div class="about_main layout_padding">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">
    				<div class="images">
                        <img src="assets/images/pic3.jpg" style="height
                        :440px;max-width: 100%;">
    				</div>
    			</div>
    			<div class="col-md-6">
    				<div class="right_section_main">
    					<h1 class="dolar_tetx"><strong style="color: #2ba879;">ShareCareBookStore</strong></h1>
    					<h2 class="special_text">Special Offer For Limited Time. 30% Discount On All Hosting Plans</h2>
    					<p class="donec_text">There are many little ways to enlarge your world.Love of books is the best of all.Books
							are the plane and the train,and the road.They are the destination and a journey.They are home.
						</p>
    					<div class="right_aero">
							<img src="assets/images/right-aerow.png"></div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    <!-- about end -->
    <!-- service start -->
    <div id="service" class="choose_section">
    	<div class="container">
    		<div class="col-sm-12">
    			<h1 class="choose_text">Our<span class="color"> Service</span></h1>
    			<p class="lorem_text">Lorem ipsum dolor sittem ametamngcing elit, per sed do eiusmoad 
       teimpor sittem elit inuning ut sed.</p>
    		</div>
    	</div>
    </div>
    <div class="choose_section_2">
    	<div class="container">
    	    <div class="row">
    		    <div class="col-sm-4">
    			    <div class="about_inner">
    				    <div class="icon"><a href="#"><img src="assets/images/icon-1.png"></a></div>
    				    <h2 class="totaly_text">Shared Hosting</h2>
    				    <p class="making">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
    			    </div>
    		    </div>
    		    <div class="col-sm-4">
    			    <div class="dedicated">
    				    <div class="icon"><a href="#"><img src="assetes/images/icon-2.png"></a></div>
    				    <h2 class="hosting_text">Dedicated Hosting</h2>
    				    <p class="justo_text">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
    			    </div>
    		    </div>
    		    <div class="col-sm-4">
    			    <div class="about_inner">
    				    <div class="icon"><a href="#"><img src="assets/images/icon-3.png"></a></div>
    				    <h2 class="totaly_text">Domain Registration</h2>
    				    <p class="making">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
    			    </div>
    		    </div>
    	    </div>    		
    	</div>
    </div>

    <div class="choose_section_2">
    	<div class="container">
    	    <div class="row">
    		    <div class="col-sm-4">
    			    <div class="about_inner">
    				    <div class="icon"><a href="#"><img src="assetes/images/icon-4.png"></a></div>
    				    <h2 class="totaly_text">Shared Hosting</h2>
    				    <p class="making">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
    			    </div>
    		    </div>
    		    <div class="col-sm-4">
    			    <div class="about_inner">
    				    <div class="icon"><a href="#"><img src="aseets/images/icon-5.png"></a></div>
    				    <h2 class="totaly_text">Dedicated Hosting</h2>
    				    <p class="making">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
    			    </div>
    		    </div>
    		    <div class="col-sm-4">
    			    <div class="about_inner">
    				    <div class="icon"><a href="#"><img src="aseetes/images/icon-6.png"></a></div>
    				    <h2 class="totaly_text">Domain Registration</h2>
    				    <p class="making">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
    			    </div>
    		    </div>
    	    </div>
    	    <div class="bt_main">
    	    	<button class="read_more"><a href="#">Read More</a></button>
            </div>   		
    	</div>
    </div>

    <!-- service end -->
    <!-- contact start -->
    <div id="contact" class="contact_section">
    	<div class="container">
    		<div class="col-sm-12">
    			<h1 class="choose_text">Request A Call  Back</h1>
    			<p class="lorem_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
    		</div>
    	</div>
    </div>
    <div class="contact_section_2">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">
    				<div class="input_main">
                       <div class="container">
                          <form action="/action_page.php">
                            <div class="form-group">
                              <input type="text" class="email-bt" placeholder="Name" name="Name">
                            </div>
                            <div class="form-group">
                              <input type="text" class="email-bt" placeholder="Email" name="Email">
                            </div>
                            <div class="form-group">
                              <input type="text" class="email-bt" placeholder="Phone" name="Email">
                            </div>
                                <div class="form-group">
                                  <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="text"></textarea>
                                </div>
                            </form>
                          
                       </div> 
                       <div class="send_btn">
                        <button type="button" class="main_bt"><a href="#">Send</a></button>
                       </div>                   
                    </div>
    			</div>
    			<div class="col-md-6">
    				<div class="section_right">
    					<img src="assets/images/img-2.png" style="max-width: 100%;">
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    <app-footer></app-footer>


    <!-- contact end -->
    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>


      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         $(".zoom").hover(function(){
         
         $(this).addClass('transition');
         }, function(){
         
         $(this).removeClass('transition');
         });
         });
         </script> 
 





